@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300&family=Allura&family=Inter:wght@100;200;300;400;500;600;700&display=swap');


*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  font-family: "Montserrat", serif;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

button,
.btn {
  font-family: inherit;
}



/* .logo {
    padding-top: 20px;
        height: 80px;
    width: 80px;
    
}

img {
    max-width: 100%;
    max-height: 100%;
} */

/* search bar */

.searchcontainerbody {
  margin: 20px auto;
  width: 300px;
  height: 60px
}

.searchformbody {
    display: flex;
    flex-direction: row;
}
.search-fieldbody {
    width: 100%;
    padding: 10px 35px 10px 15px;
  border: 1px solid;
  border-color: black;
  border-radius: 100px;
  
}

.search-buttonbody {
    background: transparent;
    border: none;
    outline: none;
    margin-left: -33px;
}

.search-buttonbody img {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.picturecontainerbody {

  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
  align-items: center;
  
}
.picturecontainer2body {

  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
  align-items: center;
  
}
.pictureboxes {
  background-color: white;
  width: 95%;
  padding: 7px;
  margin: 5px;
  border: 2px rgb(216, 224, 216) solid;
  border-radius: 15px;
  box-shadow: 10px 10px 8px #888888;
}

.slogan2 {

  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  font-family: "Allura", sans-serif;
  color: #4caf50;
  margin-top: 20px;
}

.headingofweddings {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  
}

.headingofbirthdays {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 30px;
  
}





@media only screen and (min-width:800px) {
  

  .picturecontainerbody {
    display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
   
}

.picturecontainer2body {

display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
}


.pictureboxes {
  
    background-color: white;
    width: 30%;
    padding: 7px;
    margin: 5px;
    border: 2px rgb(216, 224, 216) solid;
    border-radius: 15px;
    box-shadow: 10px 10px 8px #888888;
  
    
  }

/* .slogan1 {
  margin: auto;
  width: 400px;
} */

.slogan2 {

  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  font-family: "Allura", sans-serif;
  color: #4caf50;
  margin-top: 130px;
}

.headingofweddings {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  
}

.headingofbirthdays {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  
}

}