@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300&family=Allura&family=Inter:wght@100;200;300;400;500;600;700&family=Roboto:wght@300;400&display=swap');



*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

button,
.btn {
  font-family: inherit;
}



/* search bar */


.picturecontainerbody {

  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
  align-items: center;
  
}
.picturecontainer2body {

  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
  align-items: center;
  
}
.pictureboxes {
  background-color: white;
  width: 95%;
  padding: 7px;
  margin: 5px;
  
}

.proppics {
  
  border-radius: 15px;
  box-shadow: 10px 10px 8px #888888;
}
.proptext {
  font-size: 20px;
  padding-left: 7px;
}


.headingofweddings {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
  
}

.headingofbirthdays {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
  margin-top: 30px;
  
}


@media only screen and (min-width:800px) {

 
  

  .searchcontainerbody {
    margin:  30px auto;
    width: 400px;
    height: 60px
  }

  .picturecontainerbody {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;

}

.picturecontainer2body {

display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
text-align: left;
}


.pictureboxes {
  
    background-color: white;
    width: 20%;
    padding: 7px;
    margin: 5px;
    /* border: 2px rgb(216, 224, 216) solid;
    border-radius: 15px;
    box-shadow: 10px 10px 8px #888888; */
  
  }

  .proppics {
    /* border: 2px rgb(216, 224, 216) solid; */
    border-radius: 15px;
    box-shadow: 10px 10px 8px #888888;
  }


.proptext {
  font-size: 20px;
  padding-left: 7px;
}

.slogan2 {

  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  font-family: "Allura", sans-serif;
  color: #4caf50;
  margin-top: 130px;
}

.headingofweddings {
  display: flex;
  justify-content: flex-start;
  margin-left: 150px;
  margin-bottom: 20px;
  
  
  
}

.headingofbirthdays {
  display: flex;
  justify-content: flex-start;
  margin-left: 100px;
  margin-left: 150px;
  margin-bottom: 20px;
  
}

.iconscontainer {
  display: flex;
  margin: 20px auto 20px auto;
  justify-content: space-between;
  width: 50%;
  padding-top: 130px;
}

}